header {
  background-color: rgb(204, 204, 204);
  color: rgb(54, 54, 54);
  padding: 35px;
  text-align: left;
  display: block;
}

header img {
  width: 200px; /* or any other value you want */
  height: auto; /* maintain the aspect ratio of the image */
  border: none; /* remove the border around the image */
}

body {
    margin: 0 auto;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
    background-color: #fcfcfc;
    color: #434a54;
    display: block;
    line-height: 1;
  }
  
  h1 {
    margin: 0;
    font-family: "Nunito", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .button {
    display: inline-block;
    background-color: #ff4742;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .button:hover {
    background-color: white;
    color: #ff4742;
  }

  section {
    margin: 30px 0;
  }
  
  section h2 {
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
  }
  
  footer {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
  }

  a {
    color: #ff4742;
  }

  .circular-image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }

  li {
    margin: 10px;
  }

  a img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  
  a:hover img {
    opacity: 0.8;
  }